services:

  api:
    container_name: api
    build:
      context: ./api
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - HOST=0.0.0.0
      - DEBUG=False
    env_file:
      - ./api/.env
    restart: unless-stopped
    networks:
      - my_custom_network

  payments:
    container_name: payments
    build:
      context: ./payments
      dockerfile: Dockerfile
    ports:
      - "5002:5001"
    environment:
      - PORT=5001
    env_file:
      - ./payments/.env
    restart: unless-stopped
    networks:
      - my_custom_network

  sandbox:
    container_name: sandbox
    build:
      context: ./sandbox
      dockerfile: Dockerfile
    ports:
      - "5004:5000"
    environment:
      - PORT=5000
      - HOST=0.0.0.0
      - DEBUG=False
    env_file:
      - ./sandbox/.env
    restart: unless-stopped
    networks:
      - my_custom_network

  sdk:
    container_name: sdk
    build:
      context: ./sdk
      dockerfile: Dockerfile
    ports:
      - "5008:5000"
    environment:
      - PORT=5000
      - HOST=0.0.0.0
      - DEBUG=False
    env_file:
      - ./sdk/.env
    restart: unless-stopped
    networks:
      - my_custom_network

  dalle:
    container_name: dalle
    build:
      context: ./dalle
      dockerfile: Dockerfile
    ports:
      - "5006:5000"
    environment:
      - PORT=5000
      - HOST=0.0.0.0
      - DEBUG=False
    env_file:
      - ./dalle/.env
    restart: unless-stopped
    networks:
      - my_custom_network

  data:
    container_name: data
    build:
      context: ./data
      dockerfile: Dockerfile
    ports:
      - "5001:5001"
    environment:
      - PORT=5001
      - HOST=0.0.0.0
      - DEBUG=False
    env_file:
      - ./data/.env
    dns:
      - 8.8.8.8
      - 8.8.4.4
      - 1.1.1.1
    restart: unless-stopped
    networks:
      - my_custom_network

  topup:
    container_name: topup
    build:
      context: ./topup
      dockerfile: Dockerfile
    ports:
      - "5003:5002"
    environment:
      - PORT=5002
      - HOST=0.0.0.0
      - DEBUG=False
    env_file:
      - ./topup/.env
    restart: unless-stopped
    networks:
      - my_custom_network

  nginx:
    container_name: nginx
    image: nginx:alpine
    depends_on:
      - api
      - payments
      - sandbox
      - sdk
      - dalle
      - data
      - topup
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - ./certbot/www:/var/www/certbot:ro
    restart: unless-stopped
    networks:
      - my_custom_network
    command: /bin/sh -c "sleep 5 && nginx -g 'daemon off;'"  # wait for backends

networks:
  my_custom_network:
    driver: bridge
